body{
    background: url(../images/2.jpg);
}

.container{
    width: 800px;
    height: 800px;
    position: absolute;
    margin-top: 100px;
    margin-left: 400px;

}

.base{
    width: 300px;
    height: 60px;
    position: absolute;
    background: cornflowerblue;
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 10px;
    text-align: center;
}
.advance{
    width: 300px;
    height: 60px;
    position: absolute;
    background: cornflowerblue;
    margin-top: 140px;
    margin-left: 200px;
    border: none;
    border-radius: 10px;
    text-align: center;

}
.repeat{
    width: 300px;
    height: 60px;
    position: absolute;
    background: cornflowerblue;
    margin-top: 260px;
    margin-left: 200px;
    border: none;
    border-radius: 10px;
    text-align: center;

}
.sorce{
    width: 300px;
    height: 60px;
    position: absolute;
    background: cornflowerblue;
    margin-top: 380px;
    margin-left: 200px;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.base a{
    color: papayawhip;
    font-size: 25px;
    line-height: 60px;
    cursor: pointer;
}
.advance a{
    color: papayawhip;
    font-size: 25px;
    line-height: 60px;
    cursor: pointer;
}
.repeat a{
    color: papayawhip;
    font-size: 25px;
    line-height: 60px;
    cursor: pointer;
}
.sorce a{
    color: papayawhip;
    font-size: 25px;
    line-height: 60px;
    cursor: pointer;
}
.base a:hover{
    text-shadow: 0px 0px 5px gold;
}
.advance a:hover{
    text-shadow: 0px 0px 5px gold;
}
.repeat a:hover{
    text-shadow: 0px 0px 5px gold;
}
.sorce a:hover{
    text-shadow: 0px 0px 5px gold;
}