body{
    background: url(../images/4.jpg);
    background-color: #93d5ed;

}
.content{
    width: 800px;
}
.table{
    width: 800px;
    height:500px;
    position: absolute;
    margin-left: 200px;
}
.table_head{
    width: 500px;
    height: 20px;
    text-align: center;
}
.table_body{
    width: 500px;
    margin-top: 10px;
}
table thead tr th{
    font-size: 25px;
    text-align: center;
    width:200px;
}
table tbody tr td{

    font-size: 20px;
    text-align: center;
    width:200px;
    height:55px;
}
.but{
    width: 200px;
    height: 100px;
    position: absolute;
    margin-top:20px;
    margin-left: 400px;
}
.a{
    background-color: #c5ffca;
}
.b{
    background-color: #c5ffca;
}
.c {
    width: 80px;
    position: absolute;
    background-color: #c5ffca;
    margin-left: 10px;
}
.ans{
    width:200px;
    height: 20px;
    position: absolute;
    margin-top: 5px;
}