body{
    background: url(../images/3.jpg);
    background-color: #93d5ed;

}
.content{
    width: 800px;
}
.table{
    width: 800px;
    position: absolute;
    margin-left: 200px;
}
.table-hover{
    width: 800px;
    height: 600px;
    position: absolute;
    margin-top: 5px;
    margin-left: 150px;
}
.table_head{
    width: 500px;
    height: 20px;
    text-align: center;
}
.table_body{
    width: 500px;
    margin-top: 10px;
}
table thead tr th{
    font-size: 25px;
    text-align: center;
    width:200px;
}
table tbody tr td{

    font-size: 20px;
    text-align: center;
    width:200px;
    height:55px;
}